.container{}
.r1{
	padding-top: 20px;
	background-color: yellow;
}
.wowjs{
	background-color: orange;
	margin-top: 20px;
}
.wow{
	/*background-color: orange;*/
}
.aos{
	/*position: absolute;*/
	/*margin: 0 100px;*/
}
.box1{
	height: 100px;
	line-height: 100px;
	font-size: 30px;
	background-color: #9c27b0;
	color: #ffeb3b;
	margin:20px 0;
	text-align: center;
}
.box2{
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 30px;
	background-color: blue;
	color: #ffeb3b;
	margin:20px 0;
}
.box3{
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 30px;
	background-color: #4caf50;
	color: #cddc39;
	margin:20px 0;
}

/*parallax*/

.parallax-window {
    min-height: 600px;
    background: transparent;
}
.parallax-window h2{
	/*text-align: center;*/
}
.parallax-window p{
	margin-top: 180px;
	text-align: center;
	font-size: 30px;
	color: orange;
}